@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14.3% 6%;
    --foreground: 0 0% 98%;
    --card: 20 14.3% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 62% 52%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 20 14.3% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 20 14.3% 12%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 45 62% 52%;
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14.3% 15%;
    --input: 20 14.3% 15%;
    --ring: 45 62% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 6%;
    --foreground: 0 0% 98%;
    --card: 20 14.3% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 62% 52%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 20 14.3% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 20 14.3% 12%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 45 62% 52%;
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14.3% 15%;
    --input: 20 14.3% 15%;
    --ring: 45 62% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
    scroll-padding-top: 5rem;
  }
  body {
    @apply bg-background text-foreground;
  }
}
